.front-chat-container {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 100vh;
  background-color: #425360; /* Main background color */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #263743; /* Header background color */
}

.home-button,
.profile-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.chat-list {
  padding: 0.5rem;
  overflow-y: auto;
}

.chat-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #2d3e50; /* Slightly different shade for chat items */
  padding: 0.8rem;
  border-radius: 5px; /* Optional rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-name {
  font-size: 1.2rem;
}
