.pop-up-overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8bbafb;
  background: url('../../../img/bg2.jpg') no-repeat center;
  background-size: cover;
  padding-top: 90px;
}

.pop-up {
  width: 400px;
  position: relative;
  background-color: #202b50;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top {
  background-image: linear-gradient(
    to right,
    #2a3f78,
    #3454a2,
    #3d69cf,
    #4580fd,
    #3454a2
  );
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #6d86e3;
  gap: 0.5rem;
}

.top img {
  width: 100%;
  height: auto;
  align-self: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -webkit-box-shadow: -14px 18px 34px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 18px 34px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 18px 34px -3px rgba(0, 0, 0, 0.75);
}

.top div > h3 {
  font-size: 1.2rem;
}
.top div > h3 > span {
  color: #d9398b;
  text-shadow: 1px 1px 4px black;
}
.top div > p {
  margin-top: 5px;
  opacity: 0.8;
}
/* Add additional styling to match the theme from the image */

.divider {
  margin: 1rem 0;
  border: 1px solid #524fb7;
  width: 100%;
}

.account-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(to top, #2a3f78, #3454a2, #7b94ce);
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #bdc6e7;
  border-top: 2px solid #ffffffe0;
}

.account-details h2 {
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 4px black;
  position: relative;
}
.account-details .each-row {
  padding: 1rem 1rem 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-details .each-row ion-icon {
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.account-details .each-row > p:nth-child(1) {
  color: #d9398b;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 4px black;
}
.account-details .each-row > p:nth-child(2) {
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 4px black;
}
.divider2 {
  margin: auto;
  border: 0;
  height: 2px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #7b94d2, #3f63c0, #817db6);
  width: 90%;
}

.account-details > p {
  margin: 1rem 1rem 0.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
}

.sotib-olish {
  border: none;
  padding: 13px 20px;
  border-radius: 20px;
  color: white;
  background-image: linear-gradient(
    to left top,
    #2b3caa,
    #2d3da5,
    #3a4bbd,
    #5168fc,
    #5168fc
  );
  box-shadow: 4px 4px 6px #1b1b1b, -4px -4px 6px #3b3b3b;
  cursor: pointer;
  width: 90%;
  margin-top: 1rem;
  border-top: 2px solid #d6b1d6;
  border-right: 2px solid #d969c6;
  border-bottom: 2px solid #775fcf;
  border-left: 2px solid #775fcf;
  font-size: 1rem;
  margin-left: 1rem;
}

.close {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: #202b50;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.close:hover {
  background-color: #4248b2;
}

.close:focus {
  outline: none; /* Removes the focus outline */
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.carousel-container img {
  width: 370px; /* Fixed width */
  height: 190px; /* Fixed height */
  object-fit: cover; /* This ensures the image covers the area, might crop */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #3454a2;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 1;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:hover {
  background-color: #5168fc;
}

.star-in-popup {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
