.favouriteGames {
  padding-top: 6vw;
  padding-bottom: 6vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favouriteGames .title {
  text-align: center;
}
.favouriteGames .subtitle {
  margin-top: 12px;
  text-align: center;
}

.favouriteGames-container {
  width: 100%;
  overflow: hidden;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px; */
}


.favouriteGames-content {
  width: 100%;
  height: 100%;
  padding: 12px;
  background: var(--btn-bg-color);
  border-radius: 4px;
  position: relative;
}
.favouriteGames-content .favouriteGame-img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px var(--text-color);
  border-radius: 4px;
}

/* position frame start */


.favouriteGames-content .position-side {
  display: flex;
  padding: 1%;
  background: var(--bg-color);
  gap: 5%;
  position: absolute;
  z-index: 2;
  transform-origin: center;
}
.favouriteGames-content .position-side > div {
  width: 1vw;
  height: 8px;
  background: var(--btn-bg-color);
}
.favouriteGames-content .left-side {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(90deg) skewX(30deg);
}
.favouriteGames-content .right-side {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(90deg) skewX(-30deg);
}
.favouriteGames-content .top-left__side {
  top: 0;
  right: 50%;
  transform: translate(0%, -50%) rotate(0) skewX(30deg);
}
.favouriteGames-content .top-right__side {
  top: 0;
  left: 50%;
  transform: translate(0%, -50%) skewX(-30deg);
}
.favouriteGames-content .top-center {
  padding: 10px;
  width: auto;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -60%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg-color);
  box-shadow: 0 0 20px rgb(224, 116, 116);
}
.favouriteGames-content .top-center i {
  color: #fff;
  font-size: 1.4rem;
}

.favouriteGames-content .bottom-center {
  display: inline-block;
  width: fit-content;
  padding: 1% 10%;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  background: var(--btn-bg-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}
.favouriteGames-content .bottom-center > p{
  font-family: var(--roboto);
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  line-height: 110.6%;
  letter-spacing: 1.122px;
  text-transform: uppercase;
}

.favouriteGames-content .position-frame {
  display: none;
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* slick-current */

.favouriteGames-container .swiper-slide-active .favouriteGames-content  .position-frame{
  display: flex;
  opacity: 1;
} 



/* position frame end */


.favouriteGames-btns {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}


.favouriteGames .swiper {
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-left: auto !important;
  margin-right: auto !important;
}

.favouriteGames .swiper-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.favouriteGames .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 33.3% !important;
  height: auto !important;
  aspect-ratio: 4 / 3 !important;
}

@media screen and (max-width: 768px) {
  .favouriteGames .swiper-slide {
    width: 60% !important;
  }
  .favouriteGames-content .position-side > div {
    width: 2vw;
  }
}

@media screen and (max-width: 576px) {
  .favouriteGames .swiper-slide {
    width: 80% !important;
  }
  .favouriteGames-content .top-center i {
    font-size: 1rem;
  }
  .favouriteGames-content .bottom-center > p{
    font-size: 1rem;
  }
}

