.topGames {
    padding-top: 6vw;
    padding-bottom: 6vw;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topGames .title {
    text-align: center;
}
.topGames-category {
    margin-top: 3rem;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.topGames-container {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.topGames-container .game-content {
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 4px #808080;
    background: rgba(128, 128, 128, 0.1);
}

.topGames-container .game-content .topGame-img  {
    width: 100%;
    height: auto;
    aspect-ratio: 7 / 5;
    border-radius: 10px;
    overflow: hidden;
}

.topGames-container .game-content .game-name {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: var(--normal-fs);
    font-weight: var(--fw-500);
    line-height: 110.6%; /* 26.544px */
    letter-spacing: 0.84px;
    text-transform: capitalize;
}

.topGames-container .game-content .content {
    margin-top: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.topGames-container .game-content .content .player-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.topGames-container .game-content .content .player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topGames-container .game-content .content .player-info .player-name {
    font-size: var(--smallest-fs);
    font-weight: var(--fw-500);
    line-height: 110.6%; /* 19.908px */
    letter-spacing: 0.63px;
    text-transform: capitalize;
}
.topGames-container .game-content .content .player-info span {
    margin-top: 8px;
    font-size: 10px;
    font-weight: var(--fw-500);
    line-height: 110.6%; /* 11.06px */
    letter-spacing: 0.35px;
    text-transform: capitalize;
}

.topGames-container .game-content > .btn {
    margin-top: 1.2rem;
    width: 90%;
    text-align: center;
}
.topGames-container .game-content > .btn span {
    font-size: var(--smaller-fs);
}

@media screen and (max-width: 768px) {
    .topGames-container {
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .topGames-container .game-content {
        padding: 10px;
    }
    .topGames-container .game-content .game-name {
        margin-top: 10px;
    }
    .topGames-container .game-content .content {
        margin-top: 10px;
    }
    .topGames-container .game-content > .btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 568px) {
    .topGames-container {
        grid-template-columns: 1fr;
    }
}