.footer {
    padding-top: 100px;
    padding-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./img/bgimg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 5.5%;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-container .footer-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-container .footer-logo .logo {
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.footer-container .footer-logo a span {
    color: #FFF;
    font-family: var(--roboto);
    font-size: var(--big-fs);
    font-weight: var(--fw-800);
    letter-spacing: 1.591px;
}
.footer-container .footer-logo > p {
    margin-top: 33px;
    font-size: var(--smaller-fs);
    font-weight: var(--fw-400);
    line-height: 185.1%; /* 29.616px */
    letter-spacing: 0.64px;
}

.footer-content > h3 {
    font-size: var(--smaller-fs);
    font-weight: var(--fw-800);
    line-height: 110.6%; /* 19.908px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}
.footer-content > ul {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.footer-content > ul li a {
    font-size: var(--smaller-fs);
    font-weight: var(--fw-400);
    line-height: 110.6%; /* 19.908px */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.footer-partner {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-copyright {
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-social__network {
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-social__network a {
    width: 40px;
    height: 40px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.footer-social__network a:hover {
    background: var(--btn-bg-color);
}
.footer-social__network a i {
    align-self: center;
    font-size: 18px;
}
.footer-copyright > p {
    font-size: var(--smaller-fs);
    font-weight: var(--fw-400);
    line-height: 173.6%; /* 24.304px */
    letter-spacing: 0.91px;
}