ul 
{
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding-left: 6.5%;
  padding-right: 6.5%;
}


.btn {
  display: inline-block;
  padding: 20px 40px;
  background: var(--btn-bg-color);
  transform: skewX(-15deg);
  cursor: pointer;
}
.btn span {
  display: inline-block;
  font-family: var(--roboto);
  font-size: var(--small-fs);
  font-weight: var(--fw-800);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transform: skewX(15deg);
}

.title {
  font-family: var(--roboto);
  font-size: var(--biggest-fs);
  font-weight: var(--fw-800);
  line-height: 110.6%; /* 76.245px */
  letter-spacing: 2.757px;
  text-transform: uppercase;
}
.title span {
  background: var(--text-bg-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: var(--smaller-fs);
  font-weight: var(--fw-400);
  line-height: 185.1%; /* 34.642px */
  letter-spacing: 0.749px;
}

/* ============== control-btn start ============== */

.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 45%;
    bottom: 45%;
    font-size: 50px;
    transition: 0.5s;
    color: #fff;
    z-index: 5;
}

.control-btn .prev {
    left: 15px;
}

.control-btn .next {
    right: 15px;
}

.control-btn .next:hover,
.control-btn .prev:hover {
    color: black;
    cursor: pointer;
    text-shadow: 0 0 4px white;
}

.control-btn .next:hover {
    transform: translateX(10px) scale(1.1);
}

.control-btn .prev:hover {
    transform: translateX(-10px) scale(1.1);
}

/* ============== control-btn end ============== */


@media screen and (max-width: 992px) {
  .btn {
    padding: 10px 20px;
  }
  .subtitle {
    line-height: 110%; /* 34.642px */
  }
}

@media screen and (max-width: 568px) {
  .btn {
    padding: 5px 10px;
  }
}