@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --lato: 'Lato', sans-serif;
  --roboto: 'Roboto', sans-serif;

  --text-color: #fff;
  --bg-color: linear-gradient(45deg, #401c74, #4e1a7a, #3a1c73, #2e1f6d);
  --btn-bg-color: linear-gradient(45deg, #6547F7 0%, #6547f7 30%, #f77cff, #b8009b 80%, #b8009b 100%);
  --text-bg-color: linear-gradient(45deg, #6547F7 0%, #6547f7 30%, #f77cff, #b8009b 80%, #b8009b 100%);

  --biggest-fs: 3.5rem; /* 63px */
  --bigger-fs: 2.7rem; /* 48px */
  --big-fs: 2rem; /* 36px */ 
  --normal-fs: 1.4rem; /* 25.2px */
  --small-fs: 1.2rem; /* 20px */
  --smaller-fs: 1rem; /* 18px */
  --smallest-fs: 0.8rem; /* 14px */


  --fw-800: 800;
  --fw-500: 500;
  --fw-400: 400;

}

@media screen and (max-width: 1200px) {
  :root {
    --biggest-fs: 3.3rem; /* 63px */
    --bigger-fs: 2.5rem; /* 48px */
    --big-fs: 1.8rem; /* 36px */ 
    --normal-fs: 1.2rem; /* 25.2px */
  }
}

@media screen and (max-width: 992px) {
  :root {
    --biggest-fs: 2.6rem; /* 63px */
    --bigger-fs: 2.2rem; /* 48px */
    --big-fs: 1.6rem; /* 36px */ 
    --normal-fs: 1.2rem; /* 25.2px */
    --small-fs: 1rem; /* 20px */
  }
}
@media screen and (max-width: 768px) {
  :root {
    --biggest-fs: 2.2rem;
    --bigger-fs: 2rem; 
    --big-fs: 1.4rem; 
    --normal-fs: 1rem; 
    --small-fs: 0.8rem; 
  }
}
@media screen and (max-width: 568px) {
  :root {
    --biggest-fs: 1.8rem;
    --bigger-fs: 1.6rem; 
    --big-fs: 1.2rem;
    --small-fs: 0.6rem; 
  }
}


/* ====== Scroll Bar start ====== */

::-webkit-scrollbar
{
  width: 10px;
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb
{
  /* background-color: #bfbfbf; */
  background: var(--btn-bg-color);
  border-radius: 10px;
}

/* ====== Scroll Bar end ====== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lato-family);
  color: var(--text-color);
}

body {
  background: #0f082c;
}

.app {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}
