@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  --Arial: 'Arial', Helvetica, sans-serif;
  --roboto: 'Roboto', sans-serif;

  --text-color: #fff;
  --bg-color: linear-gradient(45deg, #401c74, #4e1a7a, #3a1c73, #2e1f6d);
  --btn-bg-color: linear-gradient(
    45deg,
    #6547f7 0%,
    #6547f7 30%,
    #f77cff,
    #b8009b 80%,
    #b8009b 100%
  );
  --btn-hover-bg-color: linear-gradient(
    45deg,
    #6547f7 0%,
    #6547f7 10%,
    #f77cff 50%,
    #b8009b 70%,
    #b8009b 90%,
    #000000 100%
  );
  --text-bg-color: linear-gradient(
    45deg,
    #6547f7 0%,
    #6547f7 30%,
    #f77cff,
    #b8009b 80%,
    #b8009b 100%
  );

  --biggest-fs: 3.5rem; /* 56px */
  --bigger-fs: 3rem; /* 48px */
  --big-fs: 2.5rem; /* 40px */
  --normal-fs: 2rem; /* 32px */
  --small-fs: 1.8rem; /* 28px */
  --smaller-fs: 1.4rem; /* 22px */
  --smallest-fs: 1rem; /* 16px */

  --fw-800: 800;
  --fw-500: 500;
  --fw-400: 400;
}
@media screen and (max-width: 992px) {
  :root {
    --biggest-fs: 3rem; /* 56px */
    --bigger-fs: 2.5rem; /* 48px */
    --big-fs: 2rem; /* 40px */
    --normal-fs: 1.8rem; /* 32px */
    --small-fs: 1.4rem; /* 28px */
    --smaller-fs: 1rem; /* 22px */
    --smallest-fs: 0.8rem; /* 16px */
  }
}

@media screen and (max-width: 768px) {
  :root {
    --biggest-fs: 2.5rem; /* 56px */
    --bigger-fs: 2rem; /* 48px */
    --big-fs: 1.8rem; /* 40px */
    --normal-fs: 1.4rem; /* 32px */
    --small-fs: 1rem; /* 28px */
    --smaller-fs: 0.8rem; /* 22px */
  }
}
@media screen and (max-width: 568px) {
  :root {
    --biggest-fs: 2rem; /* 56px */
    --bigger-fs: 1.8rem; /* 48px */
    --big-fs: 1.4rem; /* 40px */
    --normal-fs: 1.4rem; /* 32px */
    --small-fs: 1rem; /* 28px */
  }
}

@media screen and (max-width: 460px) {
  :root {
    --biggest-fs: 1.8rem; /* 56px */
    --bigger-fs: 1.4rem; /* 48px */
    --big-fs: 1.2rem; /* 40px */
    --normal-fs: 1rem; /* 32px */
  }
}

/* ====== Scroll Bar start ====== */

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  /* background-color: #bfbfbf; */
  background: var(--btn-bg-color);
  border-radius: 10px;
}

/* ====== Scroll Bar end ====== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Arial);
  color: var(--text-color);
}

body {
  background: #0f082c;
}

.app {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}
