.cards-wrapper {
  padding-top: 2.2rem;
  width: 100%;
  display: grid;
}
.cards-container {
  display: grid;
  background-image: linear-gradient(
    to right,
    #4420b1,
    #5238bd,
    #604ccc,
    #5346c3,
    #151171
  );
  padding: 1.5rem 0 1rem;
  border-bottom: 1px solid white;
}

.cards-container .card-img__bg {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 1;
  overflow: hidden;
}

.cards-container .card-img__bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container .search-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem;
}

.cards-container .filterlash {
  margin-bottom: 0.15rem;
}

.cards-container .search-input {
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 1rem;
}

.cards-container .search-button {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #d9398b !important;
  background-image: linear-gradient(to left bottom, #d9398b) !important;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  width: 5rem;
}

/* category container star */
.cards-container .category-container {
  display: flex;
  margin-top: 1rem;
  padding: 0 1rem;
  gap: 1rem;
}

.cards-container .category-button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to left bottom,
    #88347b,
    #8f3a97,
    #8e4eb0,
    #5f34a8,
    #2a328e
  );
  color: rgb(255, 255, 255);
  border: 3px outset #222;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

.category-button.active,
.filter-button.active {
  border: 3px inset #222;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    45deg,
    #6547f7 0%,
    #5b47bf 20%,
    #892c90,
    #942b84 80%,
    #7e1e6f 100%
  );
  color: #ffffff;
  font-weight: bold;
}

.cards-container .filter-container {
  margin-top: 1rem;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: scroll;
  padding-left: 1rem;
  display: none;
}
.cards-container .filter-container::-webkit-scrollbar {
  display: none;
}

.cards-container .filter-container.active {
  display: flex;
}

.settings {
  background-image: linear-gradient(
    to left bottom,
    #88347b,
    hsl(295, 44%, 41%),
    #8e4eb0,
    #5f34a8,
    #2a328e
  );
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.5rem;
}

.settings img {
  height: 2rem !important;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-container .filter-button {
  padding: 0.3rem 0.8rem 0.4rem 0.6rem !important;
  border: none;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  background-color: #5e5e80;
  color: white;
  text-shadow: 0 0 4px #000;
  cursor: pointer;
  background-image: linear-gradient(
    to left bottom,
    #b46ca9,
    #a247ab,
    #7b429a,
    #5f3b9c,
    #2d3480
  );
  box-shadow: 2px 2px 3px #1b1b1b, -2px -2px 3px #3b3b3b;
  font-size: 0.8rem !important;
}
.cards-container .filter-button:hover {
  background-image: linear-gradient(
    to left bottom,
    #b46ca9,
    #5f3b9c,
    #7b429a,
    #a247ab,
    #3d4493
  );
}

.cards-container .filter-button ion-icon {
  font-size: 0.8rem;
  margin-right: 0.3rem;
  margin-bottom: -0.2rem;
}

.cards-container .filter-button.active {
  background-color: #7a7aae;
}

.cards-section {
  width: 100%;
  background-color: #142251;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1.5rem 3% 1.5rem;
}

.cards-section .card {
  width: 100%;
  background: #1d65b3;
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-top: 3px solid #9ba6dc;
  border-right: 3px solid #5d98ef;
  border-bottom: 3px solid #5d98ef;
  border-left: 3px solid #5d98ef;
  cursor: pointer;
}

.cards-section .card-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 10px;
}
.cards-section .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-section .card > h5 {
  font-size: 1rem;
  margin-top: 5px;
  letter-spacing: 2px;
}
.cards-section .card > p {
  margin-top: 5px;
  font-size: 14px;
  text-shadow: 0 0 4px black;
}
.cards-section .card > p > span {
  font-size: 16px;
  color: #d9398b;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.cards-section .stars {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cards-section .stars ion-icon {
  color: #ffd700;
}

.cards-section .price-button {
  margin-top: 10px;
  background-color: #454adf;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-image: linear-gradient(to right, #88347b, #454adf, #454adf);
  box-shadow: 4px 4px 6px #1b1b1b, -4px -4px 6px #3b3b3b;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.filter-button.active {
  background-image: linear-gradient(
    to left bottom,
    #b46ca9,
    #5f3b9c,
    #7b429a,
    #a247ab,
    #3d4493
  );
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.filter-button.active {
  background-color: #7a7aae;
}

.cards-container .filter-container.active {
  display: flex;
}

.filter-button {
  transition: all 0.3s ease;
}

.category-button {
  transition: all 0.3s ease;
}

@media screen and (min-width: 576px) {
  .cards-section {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 1.5rem 5% 1.5rem;
  }

  .cards-container img {
    height: 10rem;
  }

  .cards-section .card > h5 {
    font-size: 1.2rem;
  }
  .cards-section .card > p {
    font-size: 1rem;
  }
  .cards-section .card > p > span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .cards-container .filterlash {
    font-size: 1.4rem;
  }
  .cards-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .cards-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
